</body>

<div class="footer fixed-bottom">
    <div class="d-flex container-fluid row w-100 head-box mb-3">
        <div class="mr-auto"><h4>Web-Res</h4></div>
        <div class=""><h4>New Mexico State University</h4></div>
    </div>
</div>

</html>