<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!--Temporary 'nav bar', please place navbar element here, 
    any ejs file that includes this file will have the navbar -->
    <h1>Nav Bar</h1>