<%- include('../partials/header.ejs') %>

<div class="log-sign mb-5">
  <div class="container-fluid mt-5 w-25 interface-design">
    <div class="d-flex justify-content-center">
      <h1 class="headers">Log-in</h1>
    </div>
    <form method="POST" action="/login">
      <div class="login-prompt">
        <label for="loginUsername">Username:</label>
        <input
          class="float-right"
          type="text"
          name="loginUsername"
          id="login-username"
          placeholder="username..."
          required
        />
      </div>
      <div class="login-prompt">
        <label for="login-password">Password:</label>
        <input
          class="float-right"
          type="password"
          name="loginPassword"
          id="login-Password"
          placeholder="password..."
          required
        />
      </div>
      <div class="text-center mt-3">
      <button
        type="submit"
        class="btn btn-dark w-25"
        name="submitButton"
        value="login"
      >
        Login
      </button>
    </div>
    </form>
  </div>
  <div class="container-fluid mt-5 w-25 interface-design">
    <div class="d-flex justify-content-center">
      <h1 class="headers">Sign-up</h1>
    </div>
    <form method="POST" action="/login">
      <div class="login-prompt">
        <label for="signup-firstname">First Name:</label>
        <input
          class="float-right"
          type="text"
          name="signupFirstname"
          id="signup-firstname"
          placeholder="first name..."
          required
        />
      </div>
      <div class="login-prompt">
        <label for="signup-lastname">Last Name:</label>
        <input
          class="float-right"
          type="text"
          name="signupLastname"
          id="signup-lastname"
          placeholder="last name..."
          required
        />
      </div>
      <div class="login-prompt">
        <label for="signup-username">Username:</label>
        <input
          class="float-right"
          type="text"
          name="signupUsername"
          id="signup-username"
          placeholder="username..."
          required
        />
      </div>
      <div class="login-prompt">
        <label for="signup-password">Password:</label>
        <input
          class="float-right"
          type="password"
          name="signupPassword"
          id="signup-Password"
          placeholder="password..."
          required
        />
      </div>
      <div class="text-center mt-3">
      <button
        type="submit"
        class="btn btn-dark w-25"
        name="submitButton"
        value="signup"
      >
        Sign Up
      </button>
      </div>
    </form>
  </div>
</div>
<div class="mt-5"></div>

<%- include("../partials/footer.ejs") %>
