<%- include('../partials/header.ejs') %>

<div class="log-sign">
    <div class="container-fluid mt-5 w-25 interfacer-design">
        <div class="d-flex justify-content-center"><h1 class="headers">Log-in</h1></div>

    </div>
    <div class="container-fluid mt-5 w-25 interfacer-design">
        <div class="d-flex justify-content-center"><h1 class="headers">Sign-up</h1></div>

    </div>
</div>

<%- include("../partials/footer.ejs") %>