<%- include("../partials/header.ejs") %>

<div class="interface-design w-50 mr-auto ml-auto mt-5">
    <div class="mr-auto text-center mb-2"><h1>Resume List</h1></div>
    <hr class="sep mb-5">
    <% resumeList.forEach(resume => { %>
    <div class="w-50 justify-center text-center ml-auto mr-auto">
        <div class=""><h3><%= resume.siteTitle %></h3></div>
        <div class=""><a class="mr-auto" href="view-list/<%= resume._id %>"><button class="btn btn-dark w-25">Edit</button></a></div>
        <hr class="sep mb-3">
    </div>
</div>

<% }); %> <%- include("../partials/footer.ejs") %>
